<div class="card">
  <h5 class="card-header text-end">
    <button type="button" class="btn btn-warning" (click)="onPressGetMessage()">
      {{ name }}
    </button>
  </h5>
  <div class="card-body">
    <!-- Grid de Cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let character of characters">
        <!-- Card individual para cada personaje -->
        <div class="card h-100">
<div style="display: flex; justify-content: center; align-items: center; height: 250px;">
  <img [src]="character.image" class="card-img-top" alt="{{ character.name }}" style="height: 100%; object-fit: cover;">
</div>
          <div class="card-body">
            <h5 class="card-title">{{ character.name }}</h5>
            <p class="card-text">
              <strong>Raza:</strong> {{ character.race }}<br>
              <strong>Género:</strong> {{ character.gender }}<br>
              <strong>Afiliación:</strong> {{ character.affiliation }}
            </p>
            <button class="btn btn-info" (click)="onSelectCharacter(character)">Ver detalle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de detalle -->
<div class="modal fade" id="characterDetailModal" tabindex="-1" aria-labelledby="characterDetailModalLabel" aria-hidden="true" *ngIf="selectedCharacter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="characterDetailModalLabel">{{ selectedCharacter?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img [src]="selectedCharacter?.image" class="img-fluid rounded" alt="{{ selectedCharacter?.name }}">
          </div>
          <div class="col-md-6">
            <h6>Raza:</h6>
            <p>{{ selectedCharacter?.race }}</p>
            <h6>Género:</h6>
            <p>{{ selectedCharacter?.gender }}</p>
            <h6>Afiliación:</h6>
            <p>{{ selectedCharacter?.affiliation }}</p>
            <h6>Descripción:</h6>
            <p>{{ selectedCharacter?.description }}</p>
            <h6>Ki:</h6>
            <p>{{ selectedCharacter?.ki }}</p>
            <h6>Max Ki:</h6>
            <p>{{ selectedCharacter?.maxKi }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
